body {
  background-color: black;
  color: white;
}

.nav_bar {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: blue;
  justify-content: space-between;
}

.mainCartContainer {
  width: 44rem;
}

.productDescriptionContainer {
  width: 60rem;
}

.productCard {
  transition: all 0.4s;
}

.productCard:hover {
  scale: 1.02;
}

/* Code for responsive design */
@media screen and (max-width: 768px) {
  .mainCartContainer {
    width: 25rem;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 431px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 65%;
  }
}
